:root {
  --dashboard-color: rgb(45, 52, 59);
  --dashboard-icon-color: rgb(196, 198, 204);
  --dashboard-content-color-hovor: rgb(151, 155, 168);
  --dashboard-header-color: rgb(254, 254, 254);
}
html,
body {
  overflow-x: hidden; /* Prevent horizontal scroll */
  max-width: 100vw;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
/* Desctop Design */
.dashboard-Desctop-style {
  background-color: var(--dashboard-color) !important;
  height: 100vh;
}
.dashboard-icon-style {
  color: var(--dashboard-icon-color) !important;
}
.dashboard-active {
  color: var(--dashboard-icon-color) !important;
}
.dashboard-active:hover {
  color: var(--dashboard-content-color-hovor) !important;
}
.header-Dashboard-style {
  background-color: var(--dashboard-header-color);
}

/* Desctop Design */

/* Mobile Design */
.dashboard-Mobile-style {
  background-color: var(--dashboard-color) !important;
}
.mobile-layout {
  height: 100vh;
}
/* Mobile Design */

.dashboard-item-desktop {
  display: block;
}
.dashboard-item-mobile {
  display: none;
}
@media (max-width: 840px) {
  .dashboard-item-desktop {
    display: none;
  }
  .dashboard-item-mobile {
    display: block;
  }
}
